<form class="d-flex gap-2 align-items-center justify-content-center" [formGroup]="formulario">
    <div class="container">
        <div class="mt-4 w-100 m-2">
          <h3 class="p-3">{{ titulo }}</h3>
        </div>
        <div class="mt-4 w-25 m-2">
          <button  (click)="abrirModal()"></button>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="tabla-contenido">
          <p-table #dt [value]="Arl" [paginator]="true" [rows]="5" [scrollable]="true"
            [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate=" página  {first}  registros  {totalRecords}"
            [rowsPerPageOptions]="[5, 10, 25, 50]">
            <ng-template pTemplate="header">
              <tr>
                <th>NOMBRE</th>
                <th>ESTADO</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-arl>
              <tr>
                <td>{{arl.NombreArl}}</td>
                <td>{{arl. Estado}}</td>
                <td>
                  <div class="d-flex">
                  <div>
                    <!-- <div class="image-container cursor-pointer">
                      <img src="../../../../../assets/img/iconoIMG.png" alt="Imagen con Icono">
                      <i class="bi bi-pencil-square" pTooltip="Editar" tooltipPosition="right"
                        (click)="editarCostoPrograma(costo)"></i>
                    </div>
                  </div>
                  <div>
                    <div class="image-container cursor-pointer">
                      <img src="../../../../../assets/img/iconoIMG.png" alt="Imagen con Icono">
                      <i class="bi bi-trash" pTooltip="Eliminar" tooltipPosition="right"
                        (click)="eliminarCostoPrograma(costo.idCostoPrograma)"></i>
                    </div> -->
                  </div>
                </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
</form>
  <p-dialog [(visible)]="ModalEditarValor" [modal]="true" [responsive]="true" [dismissableMask]="true"
  [style]="{'width': '50%', 'min-width': '25rem'}" (onHide)="listarArl()">
  <h6 class="d-flex justify-content-center"><b>Editar Valor</b></h6>
  <div class="p-field p-col">
    <!-- <form [formGroup]="formulario" (ngSubmit)="Editar()">
    <input type="text" class="form-control" formControlName="valor" placeholder="Price">
    <div class="d-flex justify-content-center">
      <app-button class="m-1" [typeBtn]="'submit'" [color]="'primary'">Guardar</app-button>
    </div>
    </form> -->
  </div>
  </p-dialog >
  <p-toast position="top-right"></p-toast>
  <app-crear-arl *ngIf="ModalAsignarValor" [arl]="ArlActual"
    (closeModal)="clear()"></app-crear-arl>
  <p-confirmDialog header="Eliminar" icon="pi pi-exclamation-triangle"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}"></p-confirmDialog>
