<div class="navbar-placeholder"></div>
<nav class="navbar bg-body-tertiary" style="margin: 0; padding: 0;">
    <div class="container-fluid navbar" style="display: flex; justify-content: space-between; align-items: center;">
        <span class="menu-icon mt-1 ml-3" (click)="toggleSidebar()">
            <img class="menu-img" src="assets/img/descarga.png" alt="Imagen de perfil">
        </span>
        <ul class="navbar-nav navbar-nav-right" >
            <div class="li mr-3 hover-effect">
                <li class="nav-item">
                    <span class="user-name mx-0">hola</span>
                    <div class="nav-profile-img user-img mx-3" >
                        <img src="assets/img/elipse.svg" alt="Imagen de perfil">
                        <i class="bi bi-person-circle user-icon"></i>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</nav>
<!-- <p-overlayPanel #op [style]="{ marginTop: '30px' }">
    <div class="d-flex flex-column option-user" style="width: 15vw;">
        <span (click)="logout()"><i class="bi bi-box-arrow-right"></i> Cerrar sesión</span>
    </div>
</p-overlayPanel> -->

